* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #2B2E30;
    color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  padding: 40px 30px 30px;
}

h1 {
  padding-top: 10px;
  font-size: 2.7em;
  margin: 0 0 0.3rem;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 400;
  margin: 0 0 0.8rem;
}

p {
  padding: .5rem;
}


a {
  text-decoration: none;
  color: #BB86FC; 
}

//Styling start for both the header (page menu) and footer navigation (social links)

nav ul {
  display: flex;
  list-style: none;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

nav li {
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: #ffffff;  
  display: inline-block;
}
nav a:hover {
  color: #BB86FC;
}

.footer {
  padding-top: 20px;
  // border-top: 1px solid #ccc;
}

// Styling end for header and foot navigation 

// Wrapper for the resume project grid
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

// Wrapper for the blog post grid
.grid-writing {
  display: grid;
  grid-template-columns: 100%;
}


// Wrapper for the home page grid 

.grid-hp {
  padding: 20px;
  // display: flexbox;
  border-radius: 25px;
  background-color: #2B2E30;
  box-shadow: 4px 4px 25px #202324;
}

// Styling for the Resume projects grid items

.grid-item {
  // width: 25%;
  padding: 20px;
  border-radius: 25px;
  background-color: #2B2E30;
  box-shadow: 4px 4px 25px #202324;
}

// Design for the blog articles
.grid-writing .grid-item {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
}

// Design for contact page to ensure there is no divider border
.grid-item-contact {
  border: none;
  border-bottom: none;
  width: 80%;
  margin: 0 auto;
}

// Images for Resume grid

.grid img {
  width: 100px;
  height: auto;
}

// Images for Blog grid

.grid-writing img {
  max-width: 100%;
  height: auto;
}

// Styling for links in Resume grid and Contact grid

.grid-item a, .grid-item-contact a {
  text-align: end;
  text-decoration: none;
  color: #BB86FC;
}


.grid-item a:hover, .grid-item-contact a:hover {
  color: lightgrey;
}

.grid-item h2 {
  width: 90%;
  margin: 20px auto;
}

// Styling for about me page
.profile-picture {
  justify-content: center;
  align-items: center;
}

.profile-text {
  font-size: 2em;
  margin: 0.8em 0em 0.5em 0em;
}

// Styling for tags on blog psots 
.writing-tags-software, .writing-tags-solar, .writing-tags-automation, .writing-tags-investing {
  padding: 5px;
  border-radius: 15px;
  background-color: #264653;
  color: white;
  font-size: small;
  font-weight: 700;
}

.writing-tags-investing {
  background-color: #2a9d8f;
}

.writing-tags-automation {
  background-color: #e76f51;
}

.writing-tags-solar {
  background-color: #f4a261;
}

.profile-picture {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  align-items: stretch;
}

.footer img {
  display: flex;
  flex-direction: row;
  width: 32px;
  max-height: 32px;
}

#dl-resume {
  display: flex;
}

// Phone styles below to reduce padding. Note for tablet, the desktop sizing has been tested and is fine. 
@media only screen and (max-width: 480px) {
  
  .grid, .grid-writing {
    grid-template-columns: 100%;
  }
  .grid-item {
    padding: 0px;
  }
}
/*# sourceMappingURL=style.css.map */